--- 
extension: css
filter:    sass
layout:    nil   # no layout
sass_options:
  :style: :expanded
--- 
!text        = #000
!border      = #DDD
!header      = #333
!link        = #125AA7
!link_hover  = #000
!blockquote  = #666
!code        = #000
!box_bg      = #F8F8F8
!highlight   = #B2CCFF
!quiet       = #666
!alt         = #666

body
  :color =      !text
  :font-family  Verdana, sans-serif

// Headings
// ------------------------------------------------------------------------
h1,h2,h3,h4,h5,h6 
  :color =      !header
  :font-family  Georgia, serif

// Text Elements
// ------------------------------------------------------------------------
a
  :color =   !link
  &:hover
    :color = !link_hover
blockquote
  :color =   !blockquote

pre
  :background =  !box_bg
  :border        none
  :border-left = 7px solid !border

hr
  :background = !highlight
  :color =      !highlight

// Tables
// ------------------------------------------------------------------------
table
  :border-top =    1px solid !border
  :border-left =   1px solid !border
th,td
  :border-bottom = 1px solid !border
  :border-right =  1px solid !border

// Default Classes
// ------------------------------------------------------------------------
p.quiet
  :color = !quiet
.alt
  :color = !alt

// My Site Stylings
// ------------------------------------------------------------------------
#header

#navigation 
  ul
    :margin-left               0
    :text-align                left
    :font-size                 16px
    :list-style-type           none
    li 
      a 
        :display               block
        :text-decoration       none
        &:hover 
          :background-color = !highlight

#footer
  hr 
    :margin-bottom   18px
  p 
    :text-align      right

pre.code
  :padding            8px
  :color =            !code
  :font               12px 'Courier New', 'Terminal', monospace
  :overflow           auto

.CodeRay
  :border             none
  :border-left =      7px solid !border
  :background =       !box_bg
  :color =            !code
  pre
    :font             14px 'Courier New', 'Terminal', monospace

div.toc
  :float              right
  :padding            8px
  :margin-left        16px
  :margin-bottom      16px
  :background-color = !highlight
  :border =           1px solid !border
  ul 
    :margin-bottom    0
  ol
    :margin-bottom    0

// EOF
