
body { margin: 1.0em 0 }

#header hr { margin-bottom: 0.5em; height: 0.3em; }

#navigation { text-align: center; margin-left: 0; font-size: 1.5em; list-style-type: none; }
#navigation li { display:inline; padding-right: 0.5em; }
#navigation li a { padding-right: 0.5em; }


#footer hr { margin-bottom: 0.5em }
#footer p { text-align: right }

pre.code {
  padding: 0.5em;
  margin-bottom: 1.3em;
  color: #100;
  background-color: #eee;
  border: 1px solid #aaa;
  font: 1.1em Monaco, monospace;
  overflow: auto;
}

div.toc {
  float: right;
  padding: 1.5em;
  margin-left: 1.5em;
  margin-bottom: 1.5em;
  background-color: #b2ccff;
  border: 1px solid #aaa;
}

div.toc ul { margin-bottom: 0; }
